[project]
	description = Annotations plugin for Highstock by Black Label
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Joseph Dias (Josephdias92)
[access "refs/for/refs/*"]
	read = group user/Joseph Dias (Josephdias92)
	push = group user/Joseph Dias (Josephdias92)
	label-Code-Review = -2..+2 group user/Joseph Dias (Josephdias92)
	label-Verified = -1..+1 group user/Joseph Dias (Josephdias92)
	rebase = group user/Joseph Dias (Josephdias92)
	removeReviewer = group user/Joseph Dias (Josephdias92)
	submit = group user/Joseph Dias (Josephdias92)
[access "refs/heads/*"]
	read = group user/Joseph Dias (Josephdias92)
	create = group user/Joseph Dias (Josephdias92)
	push = +force group user/Joseph Dias (Josephdias92)
	pushMerge = group user/Joseph Dias (Josephdias92)
[access "refs/tags/*"]
	push = group user/Joseph Dias (Josephdias92)
	push = +force group user/Joseph Dias (Josephdias92)
